/* App.css */

/* Navigation styles */

nav {
  background-color: #ad6161;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around; /* Adjust as needed */
}
nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #a09e9e;
  font-weight: bold;
}

/* Dark mode styles */
.dark-mode {
  background-color: #333;
  color: linear-gradient(90deg, rgb(204, 203, 226) 0%, rgb(12, 12, 241) 35%, rgba(0,212,255,1) 100%);
  width: 100vw;
  color: rgb(190, 233, 218);
  /* margin-top: 29vh; */
}
.dark-mode .container {
  background-color: #535050;
}
.light-mode {
  background-color: #928c8c;
  color: #2c2b2b;
  width: 100vw;

}
.light-mode li{
  background-color: #857c7c;
  color: #2c2b2b;
  border: 1px dotted #2c2b2b;
  padding: 1vh 2vw;
}

/* Content styles */
h3 {
  position: relative;
  top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2vh;
  color: #fff; /* Text color */
  text-shadow: 0 0 10px rgba(219, 245, 149, 0.8), 0 0 20px rgba(252, 248, 10, 0.8), 0 0 30px rgba(248, 252, 2, 0.8);
  animation: glowing 2s infinite; /* Adjust animation duration as needed */
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 5px rgba(80, 212, 91, 0.8), 0 0 10px rgba(33, 151, 180, 0.8), 0 0 20px rgba(111, 247, 57, 0.8);
  }
  50% {
    text-shadow: 0 0 10px rgba(111, 224, 58, 0.8), 0 0 20px rgba(240, 195, 195, 0.8), 0 0 27px rgba(156, 212, 124, 0.8);
  }
  75% {
    text-shadow: 0 0 9px rgba(199, 234, 240, 0.8), 0 0 20px rgba(252, 245, 155, 0.8), 0 0 25px rgba(124, 209, 212, 0.8);
  }
  100% {
    text-shadow: 0 0 5px rgba(179, 230, 187, 0.8), 0 0 9px rgba(162, 250, 145, 0.8), 0 0 13px rgba(52, 172, 209, 0.8);
  }
}

.g {
  font-size: 18px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}
button{
  background-color: #fff;
  border: none;
  color: #333;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  bottom: 0px;
}